attrs==23.1.0
bayesian-optimization==1.4.3
cma==3.3.0
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
flake8==6.0.0
flake8-annotations==3.0.1
flake8-docstrings==1.7.0
flake8-quotes==3.3.2
flake8-use-fstring==1.4
flake8-use-pathlib==0.3.0
fonttools==4.39.3
importlib-resources==5.12.0
ioh==0.3.9
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.7.1
mccabe==0.7.0
nevergrad==0.6.0
numpy==1.24.3
packaging==23.1
pandas==2.0.1
pep8-naming==0.13.3
Pillow==9.5.0
pip==23.1.2
pycodestyle==2.10.0
pydocstyle==6.3.0
pyflakes==3.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
scikit-learn==1.2.2
scipy==1.10.1
setuptools==67.7.2
six==1.16.0
snowballstemmer==2.2.0
threadpoolctl==3.1.0
typing-extensions==4.5.0
argparse==1.4.0
tzdata==2023.3
wheel==0.40.0
zipp==3.15.0
